AFNT_SOURCE=lherzog@ad-fontes.app
AFNT_SSH_KEY=/home/sitepull/.ssh/ad_fontes_pull_ed25519
AFNT_WORK_DIRECTORY=/home/sitepull/.cache/ad-fontes-backup
AFNT_ALERT_EMAIL=larry@larryherzogjr.com
BORG_REPO=/backups/ad-fontes-nt/database-borg
BORG_PASSCOMMAND="cat /home/sitepull/.borg-passphrase-ad-fontes-nt"
